<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483451645819-f2k1vnkmdfpi242vopdkij1tp6807vh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483451645819-f2k1vnkmdfpi242vopdkij1tp6807vh1</string>
	<key>API_KEY</key>
	<string>AIzaSyDV7DMUrkkXybUMxT-ZBcyasAsjS3AGhLo</string>
	<key>GCM_SENDER_ID</key>
	<string>483451645819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nfactorial.twitter-clone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-59e14</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-59e14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483451645819:ios:ea572bc37547b34bd517de</string>
	<key>DATABASE_URL</key>
	<string>https://twitter-clone-59e14.firebaseio.com</string>
</dict>
</plist>